@charset "UTF-8";

@media (max-width: 768px) {
    nav {
      flex-direction: column;
      gap: 10px;
      text-align: center;
    }
  
    nav img {
      margin-bottom: 10px;
    }
  
    nav a {
      margin-left: 0;
      display: block;
    }
  }

