@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}
  
@keyframes blink {
    50% { border-color: black; }
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    /*font-family: "Dela Gothic One", sans-serif;*/
}

html {
    scroll-behavior: smooth;
}

header {
    background: #222;
    padding: 5px ;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    position: fixed;
}
  
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}
.inicio > img {
    width: 150px;
    transition: transform 0.3s ease-in-out;
}

.inicio > img:hover {
    transform: scale(1.1);
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.452));
}

nav > a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    transition: color 0.3s ease-in-out;
}
  
nav > a:hover {
    color: #ffee00;
    transform: scale(1.1);
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.753));
}

#breno {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 100vh;
    text-align: right;
}

.texto {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#breno img {
    width: 300px;
    height: auto;
    transition: transform 0.3s ease-in-out;
    
}

#breno img:hover{
    transform: scale(1.1);
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.452));
}

#breno img:hover::after {
    content: "";
    display: block;
    width: 150px;
    height: 150px;
    background: url('medias/Logo colorida') no-repeat center/cover;
    position: absolute;
  }
  

#breno h1{
    font-family: "Dela Gothic One", sans-serif;
    font-size: 40px;
}

#breno h1:hover{
    transform: scale(1.1);
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.452));
}

#breno h3 {
    font-family: monospace;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid white;
    width: 0;
    animation: typing 3s steps(20, end) infinite alternate, blink 0.7s infinite;
}

#sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 60vh;
    width: 110vh;
    text-align: right;
    border: 2px solid #222;
    border-radius: 20px;
    padding: 200px;
    margin: 0 auto;
    margin-bottom: 200px;
    box-shadow: 10px 10px 10px black;
    transition: transform 0.3s ease-in-out;
    background-color: rgb(255, 255, 255);
}

#sobre:hover{
    transform: scale(1.1);
}

.conteudosobre {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#sobre img {
    padding: 20px;
    width: 300px;
    transition: transform 0.3s ease-in-out;
    
}

#sobre img:hover{
    transform: scale(1.1);
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.452));
}

#sobre img:hover::after {
    content: "";
    display: block;
    width: 300px;
    height: 300px;
    position: absolute;
  }
  

#sobre h1{
    width: 50vh;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 40px;
    background-color: #ffee00;
    color: black;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    transition: transform 0.3s ease-in-out
}

#sobre h1:hover{
    transform: scale(1.1);
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.452));
}

#sobre h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    white-space: wrap;
    overflow: hidden;
    text-align: left;
    width: 50vh;
    padding-left: 20px;
}

#sobre {
    font-family: "DM Sans", sans-serif;
    padding-left: 20px;
    padding: 4px;
    font-size: 20px;
    text-align: left;
}

#sobre a{
    margin-top: 10px;
    color: black;
    background-color: #ffee00;
    width: 30%;
    text-align: center;
    white-space: wrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid black;
    transition: color 0.3s ease-in-out;
}

#sobre a:hover{
    background-color: #222;
    color: #ffee00;
    border: 1px solid #ffee00;
    
}

#habilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222;
    margin: 0 auto;
    padding: 100px;
}

.linguagens {
    display: flex;
    flex-direction: row;
    white-space: wrap;
    padding: 50px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
}


#habilidades h1{
    width: 50vh;
    text-align: center;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 40px;
    background-color: #ffee00;
    color: #222;
    border-radius: 20px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out

}

#habilidades h1:hover{
    transform: scale(1.1);
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.452));
}

#habilidades p{
    margin: 0 auto;
    width: 50%;
    color: white;
    font-size: 20px;
}

#habilidades img{
    width: 100px;
    height: auto;
}


.ling-1 {
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
}
.ling-2 {
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
}
.ling-3 {
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
}
.ling-4 {
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
}
.ling-5 {
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
}
.ling-6 {
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
}
.ling-7 {
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
}

