@charset "UTF-8";


/*
    Paletas de cores
    Amarelo: #ffee00
*/

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    margin: auto;
}
header{
    background-color: #ffee00;
    color: white;
    padding: 10px;
    text-align: center;
    margin: auto;
}

header > h1{
    padding: 20px;
    text-decoration: underline;
}

header > nav{
    background-color: #837a00;
    padding: 10px;
    margin: auto;
}

header > nav > a{
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

header > nav > a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 0.8s;
}

main{
    background-color: #837a00;
    color: white;
    text-align: center;
    margin: auto;
}

footer{
    background-color: #000000;
    margin: auto;
    font-size: 1em;
    color: white;
    text-align: center;
    padding: 5px;
}

footer a{
    font-weight: bolder;
    text-decoration: none;
}